<mapfre-menu [content]="mycontent" [persistent]="true" [title]="'Lorem ipsum'" [subTitle]="'Lorem ipsun'" [menuOptions]="menuOptions" (optionClicked)="doOptionClicked($event)"></mapfre-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>
